canvas{
  margin-left: 280px;
}

body {
  background-color: #ffd6ef;
}

img {
  width: 1120px;
  height: 700px;
}

h1 {
  font-size: 55px;
  font-family: Times New Roman;
}

h5 {
  font-size: 35px;
  font-family: Times New Roman;
}

.posty {
  font-size: 70px;
  font-family: Brush Script MT;
}

.center {
  text-align: center;
  /* border: 3px solid green; */
}

.album {
  width: 400px;
  height: 400px;
}

.go {
  font-size: 30px;
}
.instruction {
  font-size: 25px;
  text-align: center;

  border: 3px solid red;
  margin: 300px;
  
}
